<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="card card-default card-yellow">
    <div class="card-header">
        <h3 class="card-title"><i class="far fa-list-alt"></i> 공통 코드</h3>
        <div class="card-tools">
            <div class="input-group input-group-sm">
                <div class="input-group-append">

                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0" style="height: 300px;">
        <table class="table table-head-fixed text-nowrap">
            <thead>
            <tr>
                <th>No</th>
                <th>코드 번호</th>
                <th>코드 명</th>
                <th>사용 가능</th>
                <th>등록 일시</th>
                <th>수정 일시</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td><a href="#" onclick="uf_openCodesForm(this);">1001</a></td>
                <td>주차면 구분</td>
                <td>
                    <input type="checkbox" checked data-bootstrap-switch data-off-color="danger" data-on-color="success" readonly>
                </td>
                <td>2020-06-17 11:00:00</td>
                <td>2020-06-17 11:00:00</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="#" onclick="uf_codeDetails(this);">
                        <i class="fas fa-folder"></i> 코드상세
                    </a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>1002</td>
                <td>사용자 구분</td>
                <td>
                    <input type="checkbox" data-bootstrap-switch data-off-color="danger" data-on-color="success" readonly>
                </td>
                <td>2020-06-17 11:00:00</td>
                <td>2020-06-17 11:00:00</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="#">
                        <i class="fas fa-folder"></i> 코드상세
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix" style="background-color: #ffffff">
        <div class="row">
            <div class="col-4">
                <div class="btn-group">
                    <button class="btn btn-default float-left" data-toggle="modal" data-target="#modal-default"><i class="far fa-edit"></i>&nbsp;등록</button>
                    <button class="btn btn-danger float-left"><i class="far fa-trash-alt"></i>&nbsp;삭제</button>
                </div>
            </div>
            <div class="col-4">
                <th:block th:if="${#lists.isEmpty(response.pagelist) == false}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:onclick="|uf_pagelist('${response.pagination.prevPage }')|" th:if="${response.pagination.curPage ne 1}"><a class="page-link" href="#">&laquo;</a></li>
                        <li class="page-item disabled" th:unless="${response.pagination.curPage ne 1}"><a class="page-link" href="#">&laquo;</a></li>

                        <th:block th:each="pageNum : ${#numbers.sequence(response.pagination.startPage, response.pagination.endPage)}">
                            <th:block th:if="${pageNum eq  response.pagination.curPage}">
                                <li class="page-item active"><a class="page-link" href="#" th:onclick="|uf_pagelist('${pageNum }')|"><th:block th:text="${pageNum }"></th:block></a></li>
                            </th:block>
                            <th:block th:unless="${pageNum eq  response.pagination.curPage}">
                                <li class="page-item"><a class="page-link" href="#" th:onclick="|uf_pagelist('${pageNum }')|"><th:block th:text="${pageNum }"></th:block></a></li>
                            </th:block>
                        </th:block>

                        <li class="page-item" th:onclick="|uf_pagelist('${response.pagination.nextPage }')|" th:if="${response.pagination.curPage ne response.pagination.pageCount && response.pagination.pageCount > 0}"><a class="page-link" href="#">&raquo;</a></li>
                        <li class="page-item disabled" th:unless="${response.pagination.curPage ne response.pagination.pageCount && response.pagination.pageCount > 0}"><a class="page-link" href="#">&raquo;</a></li>
                    </ul>
                </th:block>
            </div>
            <div class="col-4">

            </div>
        </div>

    </div>
    <!-- /.card-footer -->
</div>
<!-- /.card -->
<!-- Bootstrap Switch -->
<script src="/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script>
    $( document ).ready(function() {
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        });

        // 검색 버튼
        $('#search_btn').on('click', function(){
            uf_pagelist(1);
        });

    });


</script>
</html>