<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="card card-default card-yellow">
    <div class="card-header">
        <h3 class="card-title"><i class="far fa-list-alt"></i> 전광판 목록</h3>
        <div class="card-tools">
            <div class="input-group input-group-sm">
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0" style="height: 450px;">
        <table class="table table-head-fixed text-nowrap">
            <thead>
            <tr>
                <th>No</th>
                <th>전광판번호</th>
                <th>전광판명</th>
                <th>아이피</th>
                <th>포트</th>
                <th>주차구획번호</th>
                <th>스타일1</th>
                <th>스타일2</th>
                <th>스타일3</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(response.list)}">
                <td colspan="10" class="text-center">데이터가 존재하지 않습니다.</td>
            </tr>
            <tr th:each="element, status : ${response.list}">
                <td th:text="${status.count}"></td>
                <td>
                    <a href="#" data-mode="U" data-toggle="modal" data-target="#modal-default"
                       th:data-id="${element.id}"
                       th:data-name="${element.name}"
                       th:data-ip="${element.ip}"
                       th:data-port="${element.port}"
                       th:data-style1="${element.style1}"
                       th:data-style2="${element.style2}"
                       th:data-style3="${element.style3}"
                       th:data-section_ids="${element.section_ids}"
                       th:text="${element.id}"></a>
                </td>
                <td th:text="${element.name}"></td>
                <td th:text="${element.ip}"></td>
                <td th:text="${element.port}"></td>
                <td th:text="${element.section_ids_disp}"></td>
                <td th:text="${element.style1}"></td>
                <td th:text="${element.style2}"></td>
                <td th:text="${element.style3}"></td>
                <td>
                    <a class="btn btn-primary btn-sm" th:href="@{/pref/display/details(active=4,id=${element.id})}">
                        <i class="fas fa-eye"></i> 전광판 상세
                    </a>
                    <a class="btn btn-danger btn-sm" href="#"
                       th:data-id="${element.id}"
                       onclick="uf_delete(this);">
                        <i class="fas fa-trash"></i> 삭제
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix" style="background-color: #ffffff">
        <div class="row">
            <div class="col-4">
                <div class="btn-group">
                    <button data-mode="C" class="btn btn-default float-left" data-toggle="modal" data-target="#modal-default"><i class="far fa-edit"></i>&nbsp;등록</button>
                </div>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
    <!-- /.card-footer -->
</div>
<!-- /.card -->
<script>
    $(document).ready(function () {
    });
</script>
</html>