<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layouts/WebCommonLayout-pref}" >

<th:block layout:fragment="contents">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">전광판</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">홈</a></li>
                        <li class="breadcrumb-item"><a href="/pref/main">유닛설정</a></li>
                        <li class="breadcrumb-item active">전광판</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-edit"></i>
                                <label>전광판</label>&nbsp;
                            </h3>
                            <!-- /.card-title -->
                            <div class="card-tools">
                                <button type="button" id="save_btn" class="btn btn-tool" ><i class="fas fa-save"></i> 저장</button>
                                <button type="button" id="clear_btn" class="btn btn-tool" ><i class="fas fa-sync-alt"></i> 초기화</button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label for="id" class="col-sm-3 col-form-label">전광판 번호</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control numberOnly" id="id" style="width: 300px" placeholder="전광판 번호">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-3 col-form-label">전광판 명</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="name" style="width: 300px" placeholder="전광판 명">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="ip" class="col-sm-3 col-form-label">아이피</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="ip" style="width: 300px" placeholder="아이피">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="port" class="col-sm-3 col-form-label">포트</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="port" style="width: 300px" placeholder="포트">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">주차구획 번호</label>
                                        <div class="col-sm-9">
                                            <div class="select2-blue">
                                            <select class="select2" multiple="multiple" style="width: 300px"  data-placeholder="선택">
                                                <option>A 구획</option>
                                                <option>B 구획</option>
                                                <option selected>C 구획</option>
                                                <option selected>경차 구획</option>
                                                <option>장애인 구획</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label for="style1" class="col-sm-2 col-form-label">스타일1</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="style1" style="width: 300px" placeholder="스타일1">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="style2" class="col-sm-2 col-form-label">스타일2</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="style2" style="width: 300px" placeholder="스타일2">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="style3" class="col-sm-2 col-form-label">스타일3</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="style3" style="width: 300px" placeholder="스타일3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-12">
                    <div class="searchTemplate"></div><!-- /.searchTemplate -->
                </div>
                <!-- /.col-12 -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section><!-- /.content -->
</div>
<!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="contents_js">
    <script src="/plugins/select2/js/select2.full.min.js"></script>
    <script>

        $(document).ready(function () {

            $('.select2').select2()



            // 저장 버튼
            $('#save_btn').on('click', function(){



            });

            // 초기화 버튼
            $('#clear_btn').on('click', function(){

            });

            // 검색 버튼
            $('#search_btn').on('click', function(){
                uf_pagelist(1);
            });


            uf_pagelist(1);

        });

        function uf_pagelist(curPage) {
            var searchCondition = $('#search_condition').val();
            var searchValue = $('#search_value').val();

            var params = {
                'searchCondition': searchCondition,
                'searchValue': searchValue,
                'curPage' : curPage
            };

            $.ajax({
                url: '/pref/displays/pagelist',
                type: 'GET',
                traditional : true,
                data: params,
                dataType : 'html',
                success: function(data) {
                    $('.searchTemplate').empty();
                    $('.searchTemplate').html(data);
                }
            });
        }
    </script>
</th:block>
</html>