<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layouts/WebCommonLayout-pref}" >

<th:block layout:fragment="contents">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">주차도면</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">홈</a></li>
                        <li class="breadcrumb-item"><a href="/pref">유닛설정</a></li>
                        <li class="breadcrumb-item active">주차도면</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-default card-yellow">
                        <div class="card-header">
                            <h3 class="card-title"><i class="far fa-list-alt"></i> 주차도면 목록</h3>
                            <div class="card-tools">
                                <div class="input-group input-group-sm">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0" style="height: 450px;">
                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>주차도면 번호</th>
                                    <th>주차도면 명</th>
                                    <th>주차도면 이미지</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="element, status : ${list}">
                                    <td th:text="${status.count}"></td>
                                    <td th:text="${element.id}"></td>
                                    <td th:text="${element.name}"></td>
                                    <td th:text="${element.img_name}"></td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" href="#"
                                           th:data-id="${element.id}"
                                           onclick="uf_delete(this);">
                                            <i class="fas fa-trash"></i> 삭제
                                        </a>
                                    </td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(list)}">
                                    <td colspan="5" class="text-center">데이터가 존재하지 않습니다.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix" style="background-color: #ffffff">
                            <div class="row">
                                <div class="col-4">
                                    <div class="btn-group">
                                        <button data-mode="C" class="btn btn-default float-left" data-toggle="modal" data-target="#modal-default"><i class="far fa-edit"></i>&nbsp;등록</button>
                                    </div>
                                </div>
                                <div class="col-4">
                                </div>
                                <div class="col-4">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->

        <div class="modal fade" id="modal-default">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <input type="hidden" id="mode_id" value="C">
                            <label for="drawing_id" class="col-sm-3 col-form-label">주차도면 번호</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="drawing_id" style="width: 300px" placeholder="주차도면 번호" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="drawing_name" class="col-sm-3 col-form-label">주차도면 명</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="drawing_name" style="width: 300px" placeholder="주차도면 명" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="drawing_image" class="col-sm-3 col-form-label">주차도면 이미지(50M이내)</label>
                            <div class="col-sm-9">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="drawing_image">
                                    <label class="custom-file-label" for="drawing_image">이미지 선택</label>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                        <button id="save-btn" type="button" class="btn btn-primary">저장</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->



    </section><!-- /.content -->
</div>
<!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="contents_js">
    <script src="/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#drawing_id').inputmask("P-9{5}", {placeholder: '0'});
            bsCustomFileInput.init();

            $('#save-btn').on('click', function(){
                var mode_id = $.trim($('#mode_id').val());
                var url = '/pref/drawings/create';
                if('U' == mode_id) {
                    url = '/pref/drawings/update';
                }

                var drawing_id = $.trim($('#drawing_id').val());
                if(drawing_id == '' || drawing_id == 'P-' || drawing_id == 'P') {
                    $(document).Toasts('create', {
                        title: '폼 유효성 검사 에러',
                        class: 'bg-danger',
                        autohide: true,
                        position: 'bottomLeft',
                        delay: 3000,
                        body: '주차도면 번호는 필수 입력 항목입니다.'
                    });

                    $('#drawing_id').addClass('is-invalid');
                    $('#drawing_id').focus();
                    return;
                }
                $('#drawing_id').removeClass('is-invalid');

                var drawing_name = $.trim($('#drawing_name').val());
                if(drawing_name == '') {
                    $(document).Toasts('create', {
                        title: '폼 유효성 검사 에러',
                        class: 'bg-danger',
                        autohide: true,
                        position: 'bottomLeft',
                        delay: 3000,
                        body: '주차도면 명은 필수 입력 항목입니다.'
                    });

                    $('#drawing_name').addClass('is-invalid');
                    $('#drawing_name').focus();
                    return;
                }
                $('#drawing_name').removeClass('is-invalid');

                var image = $('#drawing_image')[0].files[0];
                if(image == undefined) {
                    $(document).Toasts('create', {
                        title: '폼 유효성 검사 에러',
                        class: 'bg-danger',
                        autohide: true,
                        position: 'bottomLeft',
                        delay: 3000,
                        body: '주차도면 이미지는 필수 선택 항목입니다.'
                    });

                    $('#drawing_image').addClass('is-invalid');
                    $('#drawing_image').focus();
                }
                $('#drawing_image').removeClass('is-invalid');

                var params = new FormData();
                params.append('id', drawing_id);
                params.append('name', drawing_name);
                params.append('image', image);

                $.ajax({
                    url: url,
                    
                    type: 'POST',
                    traditional : true,
                    processData: false, // 필수
                    contentType: false, // 필수
                    cache: false,
                    data: params,
                    dataType : 'json',
                    success: function(data) {
                        if(data.status != 0) {
                            alert(data.message);
                            return;
                        }

                        // 화면 재조회
                        uf_list();

                        // 모달창 닫기
                        $('#modal-default').modal('hide');

                    }
                });

            });
        });

        function uf_delete(oSelf) {
            if(confirm('데이터를 삭제하시겠습니까?')) {
                var drawing_id = $(oSelf).data('id');

                var params = {
                    'id': drawing_id
                };

                $.ajax({
                    url: '/pref/drawings/delete',
                    type: 'POST',
                    traditional : true,
                    data: params,
                    dataType : 'json',
                    success: function(data) {
                        console.log(data);
                        if(data.status != 0) {
                            alert('[' + data.status + '] - ' + data.message);
                            return;
                        }
                        // 화면 재조회
                        uf_list();
                    }
                });
            }
        }

        function uf_list() {
            var active = '[[${active}]]';

            location.href = "/pref/drawings?active="+active;
        }

    </script>
</th:block>
</html>