<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layouts/WebCommonLayout-pref}" >

<th:block layout:fragment="contents">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">주차구획</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">홈</a></li>
                        <li class="breadcrumb-item"><a href="/pref/main">유닛설정</a></li>
                        <li class="breadcrumb-item active">주차구획</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-edit"></i>
                                <label>주차구획</label>&nbsp;
                            </h3>
                            <div class="card-tools">
                                <button type="button" id="save_btn" class="btn btn-tool" ><i class="fas fa-save"></i> 저장</button>
                                <button type="button" id="clear_btn" class="btn btn-tool" ><i class="fas fa-sync-alt"></i> 초기화</button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="unit_no" class="col-sm-2 col-form-label">주차구획 번호</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="section_id" style="width: 300px" placeholder="주차구획 번호">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="unit_name" class="col-sm-2 col-form-label">주차구획 명</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="section_name" style="width: 300px" placeholder="주차구획 명">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="searchTemplate"></div><!-- /.searchTemplate -->
                </div>
                <!-- /.col-12 -->
            </div>
            <!-- /.row -->

        </div><!-- /.container-fluid -->

        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="modal-body-msg"></p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

    </section><!-- /.content -->
</div>
<!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="contents_js">
    <script>
        $( document ).ready(function() {

            // 저장 버튼
            $('#save_btn').on('click', function(){

                var section_id = $.trim($('#section_id').val());
                if(section_id == '') {
                    $(document).Toasts('create', {
                        title: '폼 유효성 검사 에러',
                        class: 'bg-danger',
                        autohide: true,
                        position: 'bottomLeft',
                        delay: 3000,
                        body: '주차구획 번호는 필수 입력 항목입니다.'
                    });

                    $('#section_id').addClass('is-invalid');
                    $('#section_id').focus();
                    return;
                }
                $('#section_id').removeClass('is-invalid');

                var section_name = $.trim($('#section_name').val());
                if(section_name == '') {
                    $(document).Toasts('create', {
                        title: '폼 유효성 검사 에러',
                        class: 'bg-danger',
                        autohide: true,
                        position: 'bottomLeft',
                        delay: 3000,
                        body: '주차구획 명은 필수 입력 항목입니다.'
                    });

                    $('#section_name').addClass('is-invalid');
                    $('#section_name').focus();
                    return;
                }
                $('#section_name').removeClass('is-invalid');

                var params = {
                    'id': section_id,
                    'name': section_name
                };

                $.ajax({
                    url: '/pref/sections/merge',
                    type: 'POST',
                    traditional : true,
                    data: params,
                    dataType : 'json',
                    success: function(data) {
                        if(data.status != 0) {

                            $('#modal-default').on('show.bs.modal', function (event) {
                                var modal = $(this)
                                modal.find('.modal-body-msg').html(data.message)
                            });
                            $('#modal-default').modal('show');

                            return;
                        }
                        var response = data.response;


                    }
                });

            });

            // 초기화 버튼
            $('#clear_btn').on('click', function(){
                $('#section_id').val('');
                $('#section_id').removeClass('is-invalid');
                $('#section_name').val('');
                $('#section_name').removeClass('is-invalid');
            });

            // 검색 버튼
            $('#search_btn').on('click', function(){
                uf_pagelist(1);
            });

            uf_pagelist(1);
        });

        function uf_pagelist(curPage) {
            var searchCondition = $('#search_condition').val();
            var searchValue = $('#search_value').val();

            var params = {
                'searchCondition': searchCondition,
                'searchValue': searchValue,
                'curPage' : curPage
            };

            $.ajax({
                url: '/pref/sections/pagelist',
                type: 'GET',
                traditional : true,
                data: params,
                dataType : 'html',
                success: function(data) {
                    $('.searchTemplate').empty();
                    $('.searchTemplate').html(data);
                }
            });
        }

    </script>
</th:block>
</html>