<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="card card-default card-yellow">
    <div class="card-header">
        <h3 class="card-title"><i class="far fa-list-alt"></i> 주차구획 목록</h3>
        <div class="card-tools">
            <div class="input-group input-group-sm">
                <!-- ignore -->
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0" style="height: 450px;">
        <table class="table table-head-fixed text-nowrap">
            <thead>
            <tr>
                <th>No</th>
                <th>주차구획 번호</th>
                <th>주차구획 명</th>
                <th>등록 일시</th>
                <th>수정 일시</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(response.list)}">
                <td colspan="6" class="text-center">데이터가 존재하지 않습니다.</td>
            </tr>
            <tr th:each="element, status : ${response.list}">
                <td th:text="${status.count}"></td>
                <td>
                    <a href="#" data-mode="U" data-toggle="modal" data-target="#modal-default"
                       th:data-id="${element.id}"
                       th:data-name="${element.name}"
                       th:text="${element.id}"></a>
                </td>
                <td th:text="${element.name}">name</td>
                <td th:text="${#dates.format(element.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${#dates.format(element.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <a class="btn btn-danger btn-sm" href="#"
                       th:data-id="${element.id}"
                       onclick="uf_delete(this);">
                        <i class="fas fa-trash"></i> 삭제
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix" style="background-color: #ffffff">
        <div class="row">
            <div class="col-4">
                <div class="btn-group">
                    <button data-mode="C" class="btn btn-default float-left" data-toggle="modal" data-target="#modal-default"><i class="far fa-edit"></i>&nbsp;등록</button>
                </div>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
    <!-- /.card-footer -->
</div>
<!-- /.card -->
<script>
    $( document ).ready(function() {
    });
</script>
</html>