<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="card card-default card-yellow">
    <div class="card-header">
        <h3 class="card-title"><i class="far fa-list-alt"></i> 주차면 목록</h3>
        <div class="card-tools">
            <div class="input-group input-group-sm">
                <select class="custom-select" id="search_condition" style="width: 100px;">
                    <option value="">선택</option>
                    <option value="car_no">차량번호</option>
                </select>
                <input type="text" id="search_value" class="form-control float-right" placeholder="검색">
                <div class="input-group-append">
                    <button id="search_btn" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0" style="height: 450px;">
        <table class="table table-head-fixed text-nowrap">
            <thead>
            <tr>
                <th>No</th>
                <th>주차면 번호</th>
                <th>주차면 명</th>
                <th>주차면 구분</th>
                <th>입차 시간</th>
                <th>차량 번호</th>
                <th>주차 여부</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(response.pagelist)}">
                <td colspan="8" class="text-center">데이터가 존재하지 않습니다.</td>
            </tr>
            <tr th:each="element, status : ${response.pagelist}">
                <td th:text="${(response.totalCount - status.index) - ((response.pagination.curPage - 1) * response.pagination.pageSize )}"></td>
                <td>
                    <a href="#" data-mode="U" data-toggle="modal" data-target="#modal-default"
                       th:data-id="${element.id}"
                       th:data-name="${element.name}"
                       th:data-type="${element.type}"
                       th:data-car_no="${element.car_no}"
                       th:data-incoming_time="${element.incoming_time}"
                       th:data-enabled="${element.enabled}"
                       th:text="${element.id}"></a>

                </td>
                <td th:text="${element.name}">name</td>
                <td th:text="${element.type}">type</td>
                <td th:text="${element.incoming_time}">incoming_time</td>
                <td th:text="${element.car_no}">car_no</td>
                <td>
                    <input type="checkbox" th:if="${element.enabled == 1}" checked data-bootstrap-switch data-off-color="danger" data-on-color="success" readonly>
                    <input type="checkbox" th:if="${element.enabled == 0}"  data-bootstrap-switch data-off-color="danger" data-on-color="success" readonly>
                    <span th:if="${element.enabled == 0}" class="badge badge-danger">Disabled</span>
                    <span th:if="${element.enabled == 1}" class="badge badge-success">Enabled</span>
                </td>
                <td>
                    <a class="btn btn-danger btn-sm" href="#"
                       th:data-id="${element.id}"
                       onclick="uf_delete(this);">
                        <i class="fas fa-trash"></i> 삭제
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix" style="background-color: #ffffff">
        <div class="row">
            <div class="col-4">
                <div class="btn-group">
                    <button data-mode="C" class="btn btn-default float-left" data-toggle="modal" data-target="#modal-default"><i class="far fa-edit"></i>&nbsp;등록</button>
                </div>
            </div>
            <div class="col-4">
                <th:block th:if="${#lists.isEmpty(response.pagelist) == false}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:onclick="|uf_pagelist('${response.pagination.prevPage }')|" th:if="${response.pagination.curPage ne 1}"><a class="page-link" href="#">&laquo;</a></li>
                        <li class="page-item disabled" th:unless="${response.pagination.curPage ne 1}"><a class="page-link" href="#">&laquo;</a></li>

                        <th:block th:each="pageNum : ${#numbers.sequence(response.pagination.startPage, response.pagination.endPage)}">
                            <th:block th:if="${pageNum eq  response.pagination.curPage}">
                                <li class="page-item active"><a class="page-link" href="#" th:onclick="|uf_pagelist('${pageNum }')|"><th:block th:text="${pageNum }"></th:block></a></li>
                            </th:block>
                            <th:block th:unless="${pageNum eq  response.pagination.curPage}">
                                <li class="page-item"><a class="page-link" href="#" th:onclick="|uf_pagelist('${pageNum }')|"><th:block th:text="${pageNum }"></th:block></a></li>
                            </th:block>
                        </th:block>

                        <li class="page-item" th:onclick="|uf_pagelist('${response.pagination.nextPage }')|" th:if="${response.pagination.curPage ne response.pagination.pageCount && response.pagination.pageCount > 0}"><a class="page-link" href="#">&raquo;</a></li>
                        <li class="page-item disabled" th:unless="${response.pagination.curPage ne response.pagination.pageCount && response.pagination.pageCount > 0}"><a class="page-link" href="#">&raquo;</a></li>
                    </ul>
                </th:block>
            </div>
            <div class="col-4">
            </div>
        </div>

    </div>
    <!-- /.card-footer -->
</div>
<!-- /.card -->
<!-- Bootstrap Switch -->
<script src="/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script>
    $( document ).ready(function() {
        $("input[data-bootstrap-switch]").each(function () {
            $(this).bootstrapSwitch('state', $(this).prop('checked'));
        });

        // 검색 버튼
        $('#search_btn').on('click', function(){
            uf_pagelist(1);
        });

        $('#search_value').val('[[${response.searchValue}]]');
        $('#search_condition').val('[[${response.searchCondition}]]');

    });
</script>
</html>