<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layouts/WebCommonLayout-pref}" >

<th:block layout:fragment="contents">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">주차면</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">홈</a></li>
                        <li class="breadcrumb-item"><a href="/pref/main">유닛설정</a></li>
                        <li class="breadcrumb-item active">주차면</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-edit"></i>
                                <label>주차면</label>&nbsp;
                            </h3>
                            <div class="card-tools">
                                <button type="button" id="save_btn" class="btn btn-tool" ><i class="fas fa-save"></i> 저장</button>
                                <button type="button" id="clear_btn" class="btn btn-tool" ><i class="fas fa-sync-alt"></i> 초기화</button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="unit_id" class="col-sm-2 col-form-label">주차면 번호</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="unit_id" style="width: 300px" placeholder="주차면 번호">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="unit_name" class="col-sm-2 col-form-label">주차면 명</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="unit_name" style="width: 300px" placeholder="주차면 명">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="unit_type" class="col-sm-2 col-form-label">주차면 구분</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" id="unit_type" style="width: 150px">
                                        <option value="">선택</option>
                                        <option value="10">경형</option>
                                        <option value="20" selected>일반형</option>
                                        <option value="30">확장형</option>
                                        <option value="40">장애인전용</option>
                                        <option value="50">이륜자동차전용</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="enabled" class="col-sm-2 col-form-label">주차 여부</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" id="enabled" checked data-bootstrap-switch data-off-color="danger" data-on-color="success">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="searchTemplate">
                        <div class="card card-default card-yellow">
                            <div class="card-header">
                                <h3 class="card-title">주차면 목록</h3>
                                <div class="card-tools">
                                    <div class="input-group input-group-sm">
                                        <select class="custom-select" id="search_condition" style="width: 100px;">
                                            <option value="">선택</option>
                                            <option value="car_no">차량번호</option>
                                        </select>
                                        <input type="text" id="search_value" class="form-control float-right" placeholder="검색">
                                        <div class="input-group-append">
                                            <button id="search_btn" class="btn btn-default"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0" style="height: 300px;">
                                <table class="table table-head-fixed text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>주차면 번호</th>
                                        <th>주차면 명</th>
                                        <th>주차면 구분</th>
                                        <th>입차 시간</th>
                                        <th>차량 번호</th>
                                        <th>주차 여부</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="7" style="text-align: center">데이터가 존재하지 않습니다.</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer clearfix" style="background-color: #ffffff">
                                <div class="row">
                                    <div class="col-4">
                                        <button class="btn btn-default float-left"><i class="far fa-times-circle"></i>&nbsp;삭제</button>
                                    </div>
                                    <div class="col-4">
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-default float-right" onclick="uf_pagelist(1)"><i class="far fa-list-alt"></i>&nbsp;목록</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.searchTemplate -->
                </div>
                <!-- /.col-12 -->
            </div>
            <!-- /.row -->

        </div><!-- /.container-fluid -->
    </section><!-- /.content -->
</div>
<!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="contents_js">
    <script>
        $( document ).ready(function() {

            // 저장 버튼
            $('#save_btn').on('click', function(){
                var unit_id = $.trim($('#unit_id').val());
                if(unit_id == '') {
                    //alert('주차면 번호는 필수 입력 항목입니다.');

                    $(document).Toasts('create', {
                        title: '폼 유효성 검사 에러',
                        class: 'bg-danger',
                        autohide: true,
                        position: 'bottomLeft',
                        delay: 3000,
                        body: '주차면 번호는 필수 입력 항목입니다.'
                    });

                    $('#unit_id').addClass('is-invalid');
                    $('#unit_id').focus();
                    return;
                }
                $('#unit_id').removeClass('is-invalid');

                var unit_name = $.trim($('#unit_name').val());
                var unit_type = $('#unit_type').val();
                if(unit_type == '') {
                    //alert('주차면 구분은 필수 선택 항목입니다.');

                    $(document).Toasts('create', {
                        title: '폼 유효성 검사 에러',
                        class: 'bg-danger',
                        autohide: true,
                        position: 'bottomLeft',
                        delay: 3000,
                        body: '주차면 구분은 필수 선택 항목입니다.'
                    });

                    $('#unit_type').addClass('is-invalid');
                    $('#unit_type').focus();
                    return;
                }
                $('#unit_type').removeClass('is-invalid');

                var enabled = $("input:checkbox[id='enabled']").is(":checked")

                var params = {
                    'id': unit_id,
                    'name': unit_name,
                    'type': unit_type,
                    'enabled': enabled
                };

                $.ajax({
                    url: '/pref/units/merge', // createOrReplace (=merge)
                    type: 'POST',
                    traditional : true,
                    data: params,
                    dataType : 'json',
                    success: function(data) {
                        if(data.status != 0) {
                            alert(data.message);
                            return;
                        }
                        var response = data.response;


                    }
                });

            });

            // 초기화 버튼
            $('#clear_btn').on('click', function(){
                $('#unit_id').val('');
                $('#unit_id').removeClass('is-invalid');
                $('#unit_name').val('');
                $('#unit_type').val('');
                $('#unit_type').removeClass('is-invalid');
                $("input:checkbox[id='enabled']").bootstrapSwitch('state', true);

            });

            // 검색 버튼
            $('#search_btn').on('click', function(){
                uf_pagelist(1);
            });

            uf_pagelist(1);
        });
        
        function uf_pagelist(curPage) {
            var searchCondition = $('#search_condition').val();
            var searchValue = $('#search_value').val();

            var params = {
                'searchCondition': searchCondition,
                'searchValue': searchValue,
                'curPage' : curPage
            };

            $.ajax({
                url: '/pref/units/pagelist',
                type: 'GET',
                traditional : true,
                data: params,
                dataType : 'html',
                success: function(data) {
                    $('.searchTemplate').empty();
                    $('.searchTemplate').html(data);
                }
            });
        }
        
    </script>
</th:block>
</html>