<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layouts/WebCommonLayout-mycar}">


<th:block layout:fragment="contents">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper"> <!-- 내차 찾기 화면 wrapper -->
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">내 차 찾기</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">홈</a></li>
                            <li class="breadcrumb-item"><a href="#">내 차 찾기</a></li>
                            <li class="breadcrumb-item active">메인</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->

        <div class="kiosk" style="float: left; width: 50%; height: 600px; alignment: center; overflow:hidden">
                <label for="CarNo" style="text-align: center; margin-left: 40px; margin-top: 40px; font-size: 25px"> 차량 번호  :   　　</label>
                <input type="text" id="CarNo" name="name" required minlength="4" maxlength="4" size="20" style="border-style: ridge">

            <div style="border-top: 2px solid darkgrey; margin-right: 10px; margin-left: 5px; margin-top: 40px"></div>
            <div style="border-top: 2px solid darkgrey; margin-right: 10px; margin-left: 5px; margin-top: 10px"></div>

            <table class="table table-head-fixed text-nowrap">
                <thead>
                <tr>
                    <th>No</th>
                    <th>주차면 번호</th>
                    <th>주차면 구분</th>
                    <th>차량 번호</th>
                    <th> map </th>
                </tr>
                </thead>
            </table>

        </div><!-- kiosk left -->


        <div class="kiosk" style="float: right; width: 50%; height: 600px; overflow:hidden">
                    <table style="border: 3px solid dimgray; width: 90%; height: 500px; alignment: center">
                        <tr style="text-align: center; width: 30%; border : 2px solid black">
                            <td width="33%">
                                <img src="kioskimg/clickone.jpg" id="Kioskone" alt="1번" width="142px" height="124px">
                            </td>
                            <td width="33%">
                                <img src="./0-1.jpg">
                            </td>
                            <td width="33%">
                                <img src="0-1.jpg">
                            </td>
                        </tr>
                        <tr style="text-align: center; width: 30%; border : 2px solid black">
                            <td>4</td>
                            <td>5</td>
                            <td width="33%">
                                <img src="kioskimg/6-1.jpg" alt="6번">
                            </td>
                        </tr>
                        <tr style="text-align: center; width: 30%; border : 2px solid black">
                            <td>78</td>
                            <td>83</td>
                            <td>92</td>
                        </tr>
                        <tr style="text-align: center; width: 30%; border : 2px solid black">
                            <td><-</td>
                            <td>0</td>
                            <td>검 색</td>
                        </tr>
                    </table>
            </div><!-- kiosk right -->

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="contents_js">
    <script>
        $(function() {
        });
    </script>
</th:block>

</html>