<!DOCTYPE html> <!-- 키오스크 메인화면 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layouts/WebCommonLayout-mycar}">


<th:block layout:fragment="contents">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper"> <!-- 내차 찾기 화면 wrapper -->
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">내 차 찾기</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#" id="home" onclick="input_Text()">홈</a></li>
                            <li class="breadcrumb-item"><a href="#">내 차 찾기</a></li>
                            <li class="breadcrumb-item active">메인</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->

        <div class="kiosk" style="float: left; width: 50%; height: 600px; alignment: center; overflow:hidden">
                <label for="CarNo_kiosk" style="text-align: center; margin-left: 40px; margin-top: 40px; font-size: 25px"> 차량 번호  :   　　</label>
                <input type="text" id="CarNo_kiosk" value="" maxlength="4" size="20" style="border-style: ridge">

            <!--
            <div style="border-top: 2px solid darkgrey; margin-right: 10px; margin-left: 5px; margin-top: 40px"></div>
            -->
            <div style="border-top: 2px solid cadetblue; margin-right: 10px; margin-left: 5px; margin-top: 45px"></div>

            <table class="table table-head-fixed text-nowrap" style="margin-top: 100px">
                <thead>
                <tr>
                    <th>No</th>
                    <th>주차면 번호</th>
                    <th>주차 위치</th>
                    <th>차량 번호</th>
                    <th> map </th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><i class="fas fa-eye"></i> 내 차 위치</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><i class="fas fa-eye"></i> 내 차 위치</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><i class="fas fa-eye"></i> 내 차 위치</th>
                </tr>
                </thead>

            </table>

        </div><!-- kiosk left -->


        <div class="kiosk" style="float: right; width: 50%; height: 600px; overflow:hidden">
                    <table style="border: 3px solid dimgray; width: 90%; height: 500px; alignment: center">
                        <tr style="text-align: center; width: 30%; border : 2px solid black">
                            <td width="33%">
                                <a href="#"><img src="/static/kioskimg/1-1.jpg" id="Kioskone" alt="1번" width="142px" height="124px"  onclick="input_Textone()"></a>
                            </td>
                            <td width="33%">
                                <a href="#"><img src="/static/kioskimg/2-1.jpg" id="Kiosktwo" alt="2번" width="142px" height="124px" onclick="input_Texttwo()"></a>
                            </td>
                            <td width="33%">
                                <a href="#"><img src="/static/kioskimg/3-1.jpg" id="Kioskthree" alt="3번" width="142px" height="124px" onclick="input_Textthree()"></a>
                            </td>
                        </tr>
                        <tr style="text-align: center; width: 30%; border : 2px solid black">
                            <td>
                                <a href="#"><img src="/static/kioskimg/4-1.jpg" id="Kioskfour" alt="4번" width="142px" height="124px" onclick="input_Textfour()"></a>
                            </td>
                            <td>
                                <a href="#"><img src="/static/kioskimg/5-1.jpg" id="Kioskfive" alt="5번" width="142px" height="124px" onclick="input_Textfive()"></a>
                            </td>
                            <td width="33%">
                                <a href="#"><img src="/static/kioskimg/6-1.jpg" id="Kiosksix" alt="6번" width="142px" height="124px "onclick="input_Textsix()"></a>
                            </td>
                        </tr>
                        <tr style="text-align: center; width: 30%; border : 2px solid black">
                            <td>
                                <a href="#"><img src="/static/kioskimg/7-1.jpg" id="Kioskseven" alt="7번" width="142px" height="124px" onclick="input_Textseven()"></a>
                            </td>
                            <td>
                                <a href="#"><img src="/static/kioskimg/8-1.jpg" id="Kioskeight" alt="8번" width="142px" height="124px" onclick="input_Texteight()"></a>
                            </td>
                            <td>
                                <a href="#"><img src="/static/kioskimg/9-1.jpg" id="Kiosknine" alt="9번" width="142px" height="124px" onclick="input_Textnine()"></a>
                            </td>
                        </tr>
                        <tr style="text-align: center; width: 30%; border : 2px solid black">
                            <td>
                                <a href="#"><img src="/static/kioskimg/화살표-1.jpg" id="Kiostclear" alt="클리어" width="142px" height="124px" onclick="input_Clear()"></a>
                            </td>
                            <td>
                                <a href="#"><img src="/static/kioskimg/0-1.jpg" id="Kioskzero" alt="0번" width="142px" height="124px" onclick="input_Textzero()"></a>
                            </td>
                            <td>
                                <a href="#"><img src="/static/kioskimg/검색-1.jpg" id="Kiosksearch" alt="검색" width="142px" height="124px"></a>
                            </td>
                        </tr>
                    </table>
            </div><!-- kiosk right -->

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="contents_js">
    <script src="/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script>
        function input_Textone(){
            var el = document.getElementById("CarNo_kiosk");
            document.getElementById("CarNo_kiosk").value = el.value + '1';

        }
        function input_Texttwo(){
            var el = document.getElementById("CarNo_kiosk");
            document.getElementById("CarNo_kiosk").value = el.value + '2';
        }
        function input_Textthree(){
            var el = document.getElementById("CarNo_kiosk");
            document.getElementById("CarNo_kiosk").value = el.value + '3';
        }
        function input_Textfour(){
            var el = document.getElementById("CarNo_kiosk");
            document.getElementById("CarNo_kiosk").value = el.value + '4';
        } function input_Textfive(){
            var el = document.getElementById("CarNo_kiosk");
            document.getElementById("CarNo_kiosk").value = el.value + '5';
        }
        function input_Textsix(){
            var el = document.getElementById("CarNo_kiosk");
            document.getElementById("CarNo_kiosk").value = el.value + '6';
        }
        function input_Textseven(){
            var el = document.getElementById("CarNo_kiosk");
            document.getElementById("CarNo_kiosk").value = el.value + '7';
        }
        function input_Texteight(){
            var el = document.getElementById("CarNo_kiosk");
            document.getElementById("CarNo_kiosk").value = el.value + '8';
        }
        function input_Textnine(){
            var el = document.getElementById("CarNo_kiosk");
            document.getElementById("CarNo_kiosk").value = el.value + '9';
        }
        function input_Textzero(){
            var el = document.getElementById("CarNo_kiosk");
            document.getElementById("CarNo_kiosk").value = el.value + '0';
        }
        function input_Clear() { // 텍스트박스 지우기(초기화)
            var el = document.getElementById("CarNo_kiosk");
            document.getElementById("CarNo_kiosk").value = '';
            /*for (var i = 0; i < el.length; i++) {
                el[i].value = '';
            }*/
        }


        $(function() {
        });
    </script>
</th:block>
</html>