<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layouts/WebCommonLayout-mycar}">
<style>
    .kiosk table th td{
        border-style: solid;
        border: 2px;
        width: 500px;
        height: 400px;
        margin-right: 10px;
        alignment: right;

    }
</style>
<!-- 키오스크 전용 css -->
<th:block layout:fragment="contents">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper"> <!-- 내차 찾기 화면 wrapper -->
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">내 차 찾기</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">홈</a></li>
                            <li class="breadcrumb-item"><a href="#">내 차 찾기</a></li>
                            <li class="breadcrumb-item active">메인</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- ########################################## -->

                <div class="row">
                    <a> div1 </a>
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">

                    <a> div2 </a>
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
        <section class="kiosk">
            <div class="container-fluid">
                <label for="CarNo"> 차량 번호 : </label>
                <input type="text" id="CarNo" name="name" required minlength="4" maxlength="4" size="20">
                <div class="row">
                    <a> div3 </a>
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
        <section class="kiosk">
            <div class="container-fluid">
                <div class="row">
                    <table>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td><-</td>
                            <td>0</td>
                            <td>검 색</td>
                        </tr>
                    </table>
                </div>
                <!-- /.row -->

            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="contents_js">
    <script>
        $(function() {
        });
    </script>
</th:block>

</html>