<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.pgs.svc.pref.mapper.SectionsMapper">

    <select id="exists" parameterType="string" resultType="int">
        select
            count(0) as cnt
        from pgsds.sections
        where 1 = 1
        and id = #{id}
    </select>

    <insert id="create" parameterType="io.pgs.svc.pref.dto.SectionsDto">
        insert into pgsds.sections (
              id
            , name
            , createdAt
            , updatedAt
        ) value (
              #{id}
            , #{name}
            , #{createdAt}
            , #{updatedAt}
        )
    </insert>

    <update id="update" parameterType="io.pgs.svc.pref.dto.SectionsDto">
        update pgsds.sections
            set name =  #{name}
            , updatedAt = #{updatedAt}
        where 1 = 1
        and id = #{id}
    </update>

    <delete id="delete" parameterType="string">
        delete from pgsds.sections
        where 1 = 1
        and id = #{id}
    </delete>

    <select id="list" parameterType="io.pgs.svc.pref.dto.SectionsDto" resultType="io.pgs.svc.pref.dto.SectionsDto">
        select
              id
            , name
            , createdAt
            , updatedAt
        from pgsds.sections
        where 1 = 1
        order by id desc
    </select>

    <select id="info" parameterType="string" resultType="io.pgs.svc.pref.dto.SectionsDto">
        select
              id
            , name
            , createdAt
            , updatedAt
        from pgsds.sections
        where 1 = 1
        and id = #{id}
    </select>

    <select id="namelist" parameterType="java.util.ArrayList" resultType="string">
        select
            name
        from pgsds.sections
        where 1 = 1
        and id in (
            <foreach collection="list" item="item" index="index" separator=",">
                #{item}
            </foreach>
        )
    </select>

    <select id="all" resultType="io.pgs.svc.pref.dto.SectionsDto">
        select
              id
            , name
            , createdAt
            , updatedAt
        from pgsds.sections
        where 1 = 1
        order by id desc
    </select>

    <select id="unitCountPerSection" resultType="io.pgs.svc.pref.dto.SectionsDto">
        select
             s.id
            ,s.name
            ,count(su.unit_id) as unitCount
            ,sum(u.enabled) as enabledUnitCount
            ,count(su.unit_id) - sum(u.enabled) as usedUnitCount
        from pgsds.sections s
            left outer join pgsds.section_units su on s.id = su.section_id
            left outer join pgsds.units u on su.unit_id = u.id
        where 1 = 1
        group by s.id, s.name
        order by s.id
    </select>

</mapper>
