<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.pgs.svc.pref.mapper.SectionUnitsMapper">

    <select id="listBySectionId" parameterType="string" resultType="io.pgs.svc.pref.dto.SectionUnitsDto">
        select
              su.section_id
            , su.unit_id
            , u.enabled
            , su.createdAt
            , su.updatedAt
        from pgsds.section_units su
            left outer join  pgsds.units u on su.unit_id = u.id
        where 1 = 1
        and section_id = #{section_id}
        order by unit_id desc
    </select>

    <delete id="deleteBySectionId" parameterType="string">
        delete from pgsds.section_units
        where 1 = 1
        and section_id = #{section_id}
    </delete>

    <delete id="delete" parameterType="io.pgs.svc.pref.dto.SectionUnitsDto">
        delete from pgsds.section_units
        where 1 = 1
        and section_id = #{section_id}
        and unit_id = #{unit_id}
    </delete>

    <insert id="create" parameterType="io.pgs.svc.pref.dto.SectionsDto">
        insert into pgsds.section_units (
              section_id
            , unit_id
            , createdAt
            , updatedAt
        ) value (
              #{section_id}
            , #{unit_id}
            , #{createdAt}
            , #{updatedAt}
        )
    </insert>


</mapper>
