<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
            <img src="/static/images/big_g.svg" class="img-circle elevation-3">
            <span class="brand-text font-weight-light"><b th:text="#{pgs.product.name}"></b></span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <!--
                <div class="image">
                    <img src="/static/images/login_bi.png" class="img-circle elevation-2">
                </div>
                -->
                <div class="info">
                    <a href="#" class="d-block"><font color="#adff2f"><i class="fas fa-users"></i></font>&nbsp;<b>운영사</b></a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item has-treeview menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-copy"></i>
                            <p>
                                시스템
                                <i class="fas fa-angle-left right"></i>
                                <span class="badge badge-info right"></span>
                            </p>
                        </a>
                        <ul class="nav nav-treeview syst-menu">
                            <li class="nav-item">
                                <a href="/syst/codes?active=1" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>공통코드</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
</th:block>
</html>