<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layouts/WebCommonLayout}" >

<th:block layout:fragment="contents">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">대시 보드 DASH</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <a href="#"> 내 차 찾기 </a>
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">홈</a></li>
                        <li class="breadcrumb-item active">메인</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-3 col-6" th:each="element, status : ${response.unitCountList}">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title"><i class="far fa-chart-bar"></i> <th:block th:text="${element.name}"></th:block>
                            </h3>
                            <div class="card-tools">
                                <span data-toggle="tooltip" title="3 New Messages" class="badge badge-warning"><th:block th:text="${element.unitCount}"></th:block></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas th:id="|chart${status.count}|"
                                    th:data-used="${element.usedUnitCount}"
                                    th:data-enabled="${element.enabledUnitCount}"
                                    name="carnvas">

                            </canvas>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
</th:block>
<th:block layout:fragment="contents_js">
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <script>

        $(document).ready(function () {

            var carnvas = document.getElementsByName("carnvas");

            $.each(carnvas, function (idx, element) {
                var usedCount = $(element).data('used');
                var enabledCount = $(element).data('enabled');
                var id = $(element).attr('id');
                uf_drawChart(id, enabledCount, usedCount);

            });

        });

        function  uf_drawChart(id, enabledCount, usedCount) {
            var data = {
                labels: [
                    '입차 가능',
                    '입차 중'
                ],
                datasets: [
                    {
                        data: [enabledCount, usedCount],
                        backgroundColor: ['#00a65a', '#f56954']
                    }
                ]
            };
            var canvas = $('#'+id).get(0).getContext('2d')
            new Chart(canvas, {
                type: 'doughnut',
                data: data,
                options: {
                    maintainAspectRatio: false,
                    responsive: true,
                }
            });
        }

    </script>
</th:block>
</html>